.container{
    height: 100vh;
    padding-top: 10px;

    background-color: black;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #7A7A7A;
    height: 5vh;
    text-transform: uppercase;
    color: white;
}
.nav-menu{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    width: 950px;
   
}

.menu-item{
font-size: 20px;
}

.web-name{
font-size: 40px;
}