.container{
    height: 100vh;
    padding-top: 10px;

    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7A7A7A;
    height: 5vh;
    text-transform: uppercase;
    color: white;
}

.menu{
    display: flex;
    justify-content: flex-start;
}

.nav-menu{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    width: 950px;
   
}

.menu-item{
font-size: 20px;
}

.web-name{
font-size: 40px;
}

.more{
    display: flex;
    flex-direction: row;
}

.search{
    border-radius: 180px;
    background-color: white;
}

.face{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1522660176216-0577bd12b5e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: right top;

    color: white;
}

.slogan{
    font-size: 80px;
    background: -webkit-linear-gradient(30deg, rgba(199,74,80,1) 5%, rgba(251,246,193,1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}